body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    background: #464660;
  }
  
  h1,
  h2,
  h3,
  h4,
  ul,
  p,
  blockquote,
  dd {
    margin: 0px;
  }
  
  ul {
    padding: 0px;
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  .container {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-bg {
    background-color: #4F4D5C;
    width: auto;
    height: 120px;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.header-controls {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
}

.header-controls a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 24px;
}

.header-controls a:hover {
    color: #ffffff;
}

.mid-content h1 {
    text-align: center;
    margin-top: 80px;
}

.mid-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-content {
    margin: 120px 0px 120px 0px;
    width: 500px;
    min-height: 400px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.mid-content h1 {
    color: #1E2675;
    margin-top: 30px;
    font-size: 40px;
    font-family: monospace;
    
}




.input-search {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.input-search span {
    margin-right: 115px;
    margin-bottom: 10px;
    color: #6A6A6A;
    display: block;
}

.input-search input {
    width: 250px;
    height: 45px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    padding-left: 10px;
    font-size: 14px;
    text-align: center;
    background: #E8E8E8;
}

.input-search input:focus{
    outline: none;
    border: 1px solid #1E2675;  
}

.mid-content-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}



.mid-content-buttons button {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #1E2675;
    color: #ffffff;
    font-size: 14px;
    font-family: monospace;
    cursor: pointer;
}

.mid-content-buttons button:hover {
    background-color: #494275;
}


@media (max-width: 1000px) {
  .mid-content {
    margin: 60px 0px 60px 0px;
  }

  .header-controls a {
    font-size: 20px;
    
  }
  .header-controls {
    gap: 15px;
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* desativar essa porra de container */

.disable {
  display: none;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}



.input-search-active {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-search-active input {
  width: 250px;
  height: 45px;
  border-radius: 10px;
  border: none;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 14px;
  text-align: center;
  background: #E8E8E8;
}

.input-search-active span {
  font-size: 16px;
  margin: 10px 200px 10px 0px;
  color: #6A6A6A;
  display: block;
}

.input-search-active span:first-child {
  margin-left: 30px;
}

.mid-content-buttom {
  display: flex;
  justify-content: end;
  margin-right: 110px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.mid-content-buttom button {
  width: 85px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #1E2675;
  color: #ffffff;
  font-size: 14px;
  font-family: monospace;
  cursor: pointer;
}

.input-search .correct-cep {
  color: red;
  display: none;
  text-align: center;
  text-transform: uppercase;
  margin: 8px 0px 0px 0px;
}
